body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
    background-color: #f2f2f2;
}

header {
	background-color: #cca4a4;
	color: #fff;
	padding: 20px;
	animation-name: fade-in;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}
nav {
	display: flex;
}
nav ul li{
	margin: 1em;
	border: 1px solid;
	padding: 1em;
	background-color: #333;
	color: #f2f2f2;
}
nav button{
	margin: 1em;
	border: 1px solid;
	padding: 0.5em;
}

h1 {
	margin: 0;
}

main {
	padding: 20px;
	animation-name: slide-up;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

form {
	margin-top: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
	cursor: pointer;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	animation-name: fade-in;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slide-up {
	from {
		transform: translateY(50%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

#cabecera{
    color:#333;
    padding: 5em;
    margin: 5em;
    font-size: larger;
    border: 1px solid;
    -webkit-box-shadow: -20px 13px 27px -7px rgb(201, 217, 201);
    -moz-box-shadow: -20px 13px 27px -7px rgba(40,219,40,1);
    box-shadow: -20px 13px 27px -7px rgb(111, 118, 111);
    animation-name: fade-in;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
    
}